<app-carousel></app-carousel>

<!-- START THE PROFILE -->
<div class="container-fluid">
  <div class="profile py-5 d-flex flex-column justify-content-center align-items-center bg-light">
    <h1 class="mb-4">Best designer</h1>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-5">

      <!-- Profile 1 -->
      <div class="col">
        <div class="card-profile shadow-sm overflow-hidden">
          <div class="card-img">
            <img src="../assets/images/Alix Legrand Poses for New Photos by Taylor Hall O’Brien.jpg" alt="">
          </div>
          <div class="card-body">
            <h2 class="card-title">Alix Legrand</h2>
            <p class="card-text">Photographer</p>
            <div class="card-social">
              <a href="https://www.facebook.com/thaiduongvu0406"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.youtube.com/channel/UC-ibd-jVTDEf95ce1Ia1J5A"><i class="fab fa-youtube"></i></a>
              <a href="https://www.tiktok.com/"><i class="fab fa-tiktok"></i></a>
              <a href="https://github.com/"><i class="fab fa-github"></i></a>
            </div>
            <button>Contact Me</button>
          </div>
        </div>
      </div>

      <!-- Profile 2 -->
      <div class="col">
        <div class="card-profile shadow-sm overflow-hidden">
          <div class="card-img">
            <img src="../assets/images/Elias.jpg" alt="">
          </div>
          <div class="card-body">
            <h2 class="card-title">Alix Legrand</h2>
            <p class="card-text">Photographer</p>
            <div class="card-social">
              <a href="https://www.facebook.com/thaiduongvu0406"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.youtube.com/channel/UC-ibd-jVTDEf95ce1Ia1J5A"><i class="fab fa-youtube"></i></a>
              <a href="https://www.tiktok.com/"><i class="fab fa-tiktok"></i></a>
              <a href="https://github.com/"><i class="fab fa-github"></i></a>
            </div>
            <button>Contact Me</button>
          </div>
        </div>
      </div>

      <!-- Profile 3 -->
      <div class="col">
        <div class="card-profile shadow-sm overflow-hidden">
          <div class="card-img">
            <img src="../assets/images/download.jpg" alt="">
          </div>
          <div class="card-body">
            <h2 class="card-title">Alix Legrand</h2>
            <p class="card-text">Photographer</p>
            <div class="card-social">
              <a href="https://www.facebook.com/thaiduongvu0406"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.youtube.com/channel/UC-ibd-jVTDEf95ce1Ia1J5A"><i class="fab fa-youtube"></i></a>
              <a href="https://www.tiktok.com/"><i class="fab fa-tiktok"></i></a>
              <a href="https://github.com/"><i class="fab fa-github"></i></a>
            </div>
            <button>Contact Me</button>
          </div>
        </div>
      </div>
    </div> <!-- row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 -->
  </div>
  <!-- END THE PROFILE -->

  <!-- START THE FEATURETTES -->

  <div class="container row featurette mx-auto py-5 border-bottom">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-muted">It’ll
          blow
          your mind.</span></h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting
        prose
        here.</p>
    </div>
    <div class="col-md-5">
      <img src="../assets/images/[1920 x 1080] Fighter Helmet.jpg" class="featurette-image img-fluid mx-auto"
        alt="Responsive image" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false">
    </div>
  </div>

  <div class="container row featurette mx-auto py-5 border-bottom">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See
          for
          yourself.</span></h2>
      <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of
        how
        this
        layout would work with some actual real-world content in place.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="../assets/images/Works 2016.jpg" class="featurette-image img-fluid mx-auto" alt="Responsive image"
        width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false">
    </div>
  </div>

  <div class="container row featurette mx-auto py-5">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span>
      </h2>
      <p class="lead">And yes, this is the last block of representative placeholder content. Again, not
        really
        intended to be actually read, simply here to give you a better view of what this would look like
        with some
        actual content. Your content.</p>
    </div>
    <div class="col-md-5">
      <img src="../assets/images/Astronaut [1920×1080].png" class="featurette-image img-fluid mx-auto"
        alt="Responsive image" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false">
    </div>
  </div>

  <!-- /END THE FEATURETTES -->

</div> <!-- Container -->
